.App {
  text-align: center; 

}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-card{
  border:1px solid #333;
  border-radius:3px;
  padding:10px;
  margin:4px; 
  cursor: pointer;
  width: 100%;
  max-width:300px;
 }

 .user-card.closed h3:after{
   width:100%;
   text-align: center;
   content:'\21D3';
   display: block;
 }

 .user-card.open h3:after{
  width:100%;
  text-align: center;
  content:'\21D1';
  display: block;
}

.field-item {
  padding:4px;
  display: flex;
}

.field-label {
  font-weight:bold;
  padding-right:10px;
}

.field-value {
  color:#333;
}

.field-value:hover {
  color:#42950a;
}